{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block inner_content %}
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="{% static 'js/jquery.formset.min.js' %}" ></script>
<script src="{% static 'js/form_validater.js' %}" ></script>
  
  <div class="registration activation-complete" style="min-heigh:200px">
  <div class="container">
    <div class="row-fluid">
      <div class="span6">
	<p>{% trans 'Your account is now activated.' %}</p>
        <br>
        <p>Please Log in </p>
 
        <form method="post" action=".">
            {% csrf_token %}
            <input name="action" value="login" type="hidden">
	<div class="required login-required">
       
	
	</div>
        {% if login_form.username.errors or login_form.password.errors %}
        
        <div class="required login-required">Email Address: This field is required</div>
        <div class="required login-required">Password: This field is required</div>
        
        {% elif login_form.errors %}
        <div class="required login-required">Email-id Password mismatch</div>
        {% endif %}
        
 
        <div class="inputWrap controls"> <span style="display: block;" id="ph_userLogin"></span>
          <label>Email</label>
          <input id="userLogin" tabindex="1" placeholder="Email" name="username" type="text">
        </div>
      	<div class="clear"></div>
  
      <div class="clear"></div>
        <div class="inputWrap controls">
        	<label>Password</label>
          <input id="password" tabindex="2" placeholder="Password" name="password" value="" type="password">
        </div>
        <div class="clear"></div>
      <div class="clear"></div>
      <div class="submit-btn">
        <input type="submit" id="ordLoginSubmitBtn" class="btn btn-success btn-lg" tabindex="4" data-logginintext="Logging you in" value="{% trans 'Log in' %}" id="submit" />
        <input type="hidden" name="next" value="{{ next }}" />
  
      </div>
</form>
		</div>
        
        
   </div>
</div>
</div>
</div>
{% endblock inner_content %}
