{% load i18n %}

<div>
    
    <h3> {{ first_name }}, </h3><br>
    <p> Thank you for creating an account with the Honey Badger Ops team.<br>
    You are one step closer to automating your network! </p>
    <br>
    <p>Please click the following link to complete your account registration.</p>
    <p> <a href="http://{{ site.domain }}{% url 'registration_activate' activation_key %}">
    http://{{ site.domain }}{% url 'registration_activate' activation_key %} </a></p>
    <p>
        Thanks,<br>
        The Honey Badger Ops Team<br>
        P.S. Your account will expired in {{ expiration_days }} days if you do not activate it.
    </p>
    
</div>