<!DOCTYPE HTML">
<html>
<head>
{% load staticfiles %}
{% load i18n %}
<title>LOGIN</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}"/>

</head>
<body id="login" class="login">
<form method="post" action=".">
  {% csrf_token %} 
  <input name="action" value="login" type="hidden">
  <div class="loginBoxWrap">
    <div class="login-white-shadow">
      <div class="loginBox">
        <div class="loginLogo"><a href="/" title="Home Page"> <img src="{% static 'images/logo1.jpg' %}" alt="" border="0"> </a></div>
        <div class="loginSiteName">Honey Badger Ops</div>
	<div class="required login-required">	
	{% if form.errors %}
        <div class="required login-required">Please enter a correct email adress and password.</div>
        <div class="required login-required"> Note that both fields may be case-sensitive.</div>
        {% endif %}
	{% comment %}
        {% if form.username.errors or form.password.errors %}
        <div class="required login-required">Email Address: This field is required</div>
        <div class="required login-required">Password: This field is required</div>
        {% endif %}
	{% endcomment %}

        <div id="lUserWrap">
          <div class="inputWrap"> <span style="display: block;" id="ph_userLogin"></span>
            <input id="userLogin" tabindex="1" placeholder="Email" name="username" type="email">
            <span id="ph_userLoginIcon"></span> </div>
        </div>
        <div id="lPassWrap">
          <div class="inputWrap">
            <input id="password" tabindex="2" placeholder="Password" name="password" value="" type="password">
            <span id="ph_passwordIcon"></span> </div>
        </div>
      
        {% comment %}
        <div class="remember-me">
          <input name="rememberMe" id="lRemMe" tabindex="3" type="checkbox">
          <label id="lRemMeLbl" for="lRemMe">Keep me logged in</label>
        </div>
      {% endcomment %}
  
      <div class="submit-btn">
        <input type="submit" id="ordLoginSubmitBtn" class="btn btn-success btn-lg" tabindex="4" data-logginintext="Logging you in" value="{% trans 'Log in' %}" />
        <input type="hidden" name="next" value="{{ next }}" />
  
      </div>
      {% comment %}
        <div class="submit-btn">
            <button id="ordLoginSubmitBtn" class="btn btn-success btn-lg" tabindex="4" data-logginintext="Logging you in">Log In</button>
        </div>
      {% endcomment %}
      </div>
    </div>
<div class="lFooter">
    <a href="{% url 'auth_password_reset' %}">Forgot your password?</a>
    <a href="{% url 'registration_register' %}">Register !</a>
  </div>
  </div>
</form>

</body>
</html>
