{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="registration">
  <div class="container">
    <div class="row-fluid">
      <div class="span6">
<p>{% trans "Logged out" %}</p>
</div>
</div>
</div>
</div>

{% endblock %}
