{% extends "base.html" %}
{% load i18n %}

{% block inner_content %}
<div class="registration">
  <div class="container">
    <div class="row-fluid">
      <div class="span6">

<form method="post" action=".">
  {% csrf_token %}
  <table>
    <tr>
      <td>
        {{ form.as_p }}
      </td>
    </tr>
  </table>
  <input type="submit" value="{% trans 'Submit' %}" />
</form>
</div>
</div>
</div>
</div>
{% endblock inner_content %}
