{% extends "base.html" %}
{% load i18n %}

{% block inner_content %}

<div class="registration password-reset">
  <div class="container">
    <div class="row-fluid">
      <div class="span6">

{% if validlink %}

<form method="post" action=".">
  {% csrf_token %} 
  <div class="controls">
  {{ form.as_p }}
	</div>
  <input type="submit" value="{% trans 'Submit' %}" />
</form>

{% else %}

<p>{% trans "Password reset failed" %}</p>

{% endif %}
</div>
</div>
</div>
</div>

{% endblock inner_content %}
