{% extends "base.html" %}
{% load i18n %}

{% block inner_content %}
<div class="registration">
  <div class="container">
    <div class="row-fluid">
      <div class="span6">

<p>{% trans "Password reset successfully" %}</p>

<p><a href="{% url 'auth_login' %}">{% trans "Log in" %}</a></p>
</div>
</div>
</div>
</div>

{% endblock inner_content %}
