{% extends "base.html" %}
{% load i18n %}

{% block inner_content %}
<div class="registration">
  <div class="container">
    <div class="row-fluid">
      <div class="span6">
	<p>{% trans "Registration is currently closed." %}</p>
</div>
</div>
</div>
</div>
{% endblock inner_content %}
