{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block inner_content %}
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="{% static 'js/jquery.formset.min.js' %}" ></script>
    <script src="{% static 'js/form_validater.js' %}" ></script>
  
  <div class="registration registration-complete" style="min-heigh:200px">
  <div class="container">
    <div class="row-fluid">
      <div class="span10">
	<p>You are now registered. Activation email sent.</p>
        <p>Before you can login, you must active your account by clicking the link in the email that was just sent to you.</p>
        <p>If you did not receive this email, please check your junk/spam folder.</p>
        <p>Click <a href="{% url 'resend_activation' %}">here </a>to resend activation mail</p>
        <div class="clear"></div>
        <form method="post" action=".">
            {% csrf_token %}
            <input name="action" value="login" type="hidden">
	<div class="required login-required">	
	</div>
        {% if login_form.username.errors or login_form.password.errors %}
            {% if login_form.username.errors %}
                <div class="required login-required">Email Address: This field is required</div>
            {% endif %}
            {% if login_form.password.errors %}
                <div class="required login-required">Password: This field is required</div>
            {% endif %}
        {% elif login_form.errors %}
        <div class="required login-required">Email-ID & Password mismatch</div>
        
        {% endif %}

        
        <div class="inputWrap controls">
          <label>Email</label>
          <input id="userLogin" tabindex="1" placeholder="Email" name="username" type="email">
        </div>
         	<div class="clear"></div>
      <div class="clear"></div>
        <div class="inputWrap controls">
        <label>Password</label>
          <input id="password" tabindex="2" placeholder="Password" name="password" value="" type="password">
         </div>
         	<div class="clear"></div>
      <div class="clear"></div>
      <div class="submit-btn">
        <input type="submit" id="submit" class="btn btn-success btn-lg" tabindex="4" data-logginintext="Logging you in" value="{% trans 'Log in' %}" />
        <input type="hidden" name="next" value="{{ next }}" />
  
      </div>
</form>
</div>
        
        
   </div>
</div>
</div>
</div>
{% endblock inner_content %}
