{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load staticfiles %}



{% block inner_content %}
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="{% static 'js/jquery.formset.min.js' %}" ></script>
<script src="{% static 'js/form_validater.js' %}" ></script>

<div class="registration">
  <div class="container">
    <div class="row-fluid">
      <div class="span6">
        <h2>User Registration</h2>
        <form method="post" action=".">
          {% csrf_token %}
          <div class="controls">
          <label>First Name</label>
           {{ form.first_name|attr:"placeholder:First Name"  }}
           </div>
              <div class="clear"></div>
          {% if form.first_name.errors %}
          <span class="required">{{ form.first_name.errors }}</span>
          {% endif %}
          <div class="clear"></div>
          <div class="controls">
          <label>Last Name</label>
            {{ form.last_name|attr:"placeholder:Last Name"  }}
           </div>
           <div class="clear"></div>
          {% if form.last_name.errors %}
          <span class="required">{{ form.last_name.errors }}</span>
          {% endif %}
          <div class="clear"></div>
          <div class="controls">
          <label>Email</label>
          {{ form.email|attr:"placeholder:Email address"  }}
          </div>
          <div class="clear"></div>
          {% if form.email.errors %}
          <span class="required">{{ form.email.errors }}</span>
          {% endif %}
          <div class="clear"></div>
          <div class="controls">
          <label>Password</label>
          {{ form.password1|attr:"placeholder:Password"  }}
          </div>
          <div class="clear"></div>
           {% if form.password1.errors %}
          <span class="required">{{ form.password1.errors }}</span>
          {% endif %}
          <div class="clear"></div>
          <div class="controls">
          <label>Retype Password</label>
          {{ form.password2|attr:"placeholder:Password again"  }}
          </div>
          <div class="clear"></div>
          {% if form.password2.errors %}
          <span class="required">{{ form.password2.errors }}</span>
          {% endif %}
          <div class="clear"></div>
          <div class="controls">
          <label>Job Role</label>
          {{ form.user_type|attr:"placeholder:Job Role"  }}
          </div>
          <div class="clear"></div>
             <div class="clear"></div>
          {% if form.user_type.errors %}
          <span class="required">{{ form.user_type.errors }}</span>
          {% endif %}
			<div class="clear"></div>

          <input class="button button_default button_default" type="submit" value="{% trans 'Register' %}" id="submit">
        </form>
      </div>
      <div class="span6">
        <div class="open-projects">
          <h2>open projects</h2>
          <div class="latest-posts-wrapper">
            <ul class="latest-posts style1 clearfix">
              <li class="latest-posts-item clearfix">
                <div class="latest-posts-content">
                  <h5><a href="#" class="title">Design review for Arduino</a></h5>
                  <p class="post-meta-data"><span>May 29, 2014</span></p>
                  <p class="excerpt"> We are currently&nbsp;looking for an experienced engineer to assist with Schematic and PCB layout review. The reviewer should have experience[...]</p>
                </div>
              </li>
              <li class="latest-posts-item clearfix">
                <div class="latest-posts-content">
                  <h5><a href="#" class="title">PIR Sensor</a></h5>
                  <p class="post-meta-data"><span>May 27, 2014</span></p>
                  <p class="excerpt"> I
                  
                  i am looking for an electronic designer that can provide a schematic for a PIR sensor which controls a line voltage[...]</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock inner_content %}

