{% extends "base.html" %}
{% load i18n %}

{% block inner_content %}
  
  <div class="registration registration-email" style="min-heigh:200px">
  <div class="container">
    <div class="row-fluid">
      <div class="span10">
        <br>
        <br>
        <p></p>
        {{ resend_form.resend_email_id.errors }}
        <br>
        <form method="post" action=".">
               <div class="controls">
            <label>Please Enter Email id where activation mail will be send</label>
            {% csrf_token %}
            {{ resend_form.resend_email_id }}
      
            <input type="submit" id="ordLoginSubmitBtn" class="btn btn-success btn-lg" tabindex="4" data-logginintext="Submit" value="{% trans 'Send Here' %}" />
        	</div>
        </form>
   </div>
</div>
</div>
</div>
{% endblock inner_content %}