*,body{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color:#c0c4c6;
    color: #333;
}
a,a:hover{
    text-decoration: none;
    outline: none;
    border: none;
}
img{
    border: none;
}
.container{
    width: 1200px;
    margin: 0 auto;
    display: table;
}
div#header {
    /*height: 100px;*/
    background: white;
    box-shadow: 0 2px 3px -1px rgba(0,0,0,0.1);
    text-align: left;
    width: 100%;
    position: relative;
    z-index: 99;
	position:fixed;
	top:0;
}
a.logo {
    height:80px;
    display: inline-block;
    position: relative;
    width: 100%;
	margin-top:20px;
}
a.logo img{
    max-height: 95px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;;
    position:relative;
    width:80px;
	float:left;
	
}
a.logo h2
{
	 font-family: "Open Sans",sans-serif;
	 float:left;
	 font-weight:normal;
	 vertical-align:middle;
	 margin-left:5px;
}
.menu ul{
    padding: 0;
    list-style: none;
    margin: 0;
    float: right;
}
.menu ul li{
    padding: 0 20px;
    display: inline-block;
    position: relative;
    overflow: visible!important;
    margin: 0;
    height: 100px;
    line-height: 100px;
    border: 0;
    float: left;
    list-style-type: none!important;
    cursor: pointer;
}
.menu ul li a{
    color: #555555;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0px;
}
.menu ul li a:hover{
    text-decoration:underline;
}
.banner{
  	height:710px;
    width: 100%;
    position:relative;
    z-index: 90;
    background: url(../images/banner1.jpg) no-repeat center top  scroll; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	margin-top:105px;
}

.banner-text
{
	width:55%;
	float:right;
	padding-top:10%;
}
.button-2
{
	margin-top:34px;
	
}
.button-1 p, .button-2 p
{
	margin-bottom:30px;
	font-size:20px;
}
.banner-text p
{
	color:#fff;
}
 .banner-text .text1
{
	text-transform:uppercase;
}
.banner-text .text3, .banner-text .text1
{
	font-size:20px;
}
.text2
{
	font-size:20px;
	float:left;
	margin-top:50px;
	line-height:1.5;
}
.banner-text .site-title
{
	font-size:60px;
	margin:40px 0;
}
.button{
    width:52%;
    float:left;
    padding-top:4%;
}
.btnn{
    background-color: #2892c6;
    color: #ffffff;
    line-height: 23px;
    border-width: 0px;
    margin: 0px 10px;
	margin-left:0;
    padding: 13px 30px 15px;
    letter-spacing: 0px;
    font-size: 13px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    opacity: 0.8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.btnn.grey{
    background-color:#95a5a6;
}
.btnn:hover{
    opacity: 1;
    color: #ffffff;
}
#footer{
    background-color: #222222;
    border-bottom: 1px solid #333333;
    color: #888888;
    font-size: 12px;
    padding-bottom: 40px;
    padding-top: 70px;
    position: relative;
    width: 100%;
}
#footer h4
{
	 color: #999999 !important;
    font-family: Montserrat,Arial,Helvetica,sans-serif,sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
	  margin-bottom: 20px;
}
#footer a:link, #footer a, #footer a:visited, #footer a:active
{
	   color: #BBBBBB;
}
#footer ul 
{
	margin-left:0 !important;
}
#footer ul li
{
	list-style:none;
}
#footer ul.tweets li 
{
	border-bottom: medium none !important;
    list-style-type: none;
    padding: 0 10px 25px 0!important;
    position: relative;
}
#footer ul.contact
{
	 margin: 0 0 20px;
}
.contact img
{
	margin-right:10px;
}
#footer ul.contact li
{
	margin-bottom:10px;
}
#copyright {
    background: none repeat scroll 0 0 #1A1A1A;
    color: #777777;
    padding: 10px 0;
}
.footer-menu {
	float:right;
}
.footer-menu {
    list-style: none outside none;
}
.textright {
    text-align: right;
}
.footer-menu > li {
    border-right: 1px solid #555555;
}
.footer-menu > li {
    border-right: 1px solid #D8D8D8;
    display: inline-block;
    float: left;
    line-height: 1;
    list-style-type: none;
    padding: 0 15px;
}
#copyright a {
    color: #999999;
}
#copyright .social-icons li a:hover, .footer-menu > li a:hover {
    color: #FFFFFF !important;
}

.social-icons > li {
    display: inline-block;
    list-style-type: none;
    margin: 4px;
    padding: 0;
}
.social-icons  img
{
	border-radius:50%;
}
.twitter-icon
{
	 float: left;
	 margin-top:5px;
    margin-right:15px;
    padding-bottom: 40px;
}
.clear
{
	clear:both;
}

/******* login page **********/

body.login
{
	background: #0D3B5F;
	margin: 0;
	padding: 0;
	font: normal 13px 'ProximaNova-Regular', helvetica, arial, sans-serif;
	height: 100%;
}
body#login 
{
    background-color: #6093CC;
}
#msg-wrap, div.msg
{
	padding: 8px 20px 10px 30px;
	margin: 0;
	cursor: pointer;
	cursor: hand;
	font-size: 12px;
	background: url(../../images/icons/information.png) 5px 50% no-repeat;
}
#message
{
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 50%;
	width: 33%;
	margin-left: -16%;
	min-width: 400px;
	padding: 50px 10px 0 10px;
	box-shadow: 0 0 8px rgba(0,0,0,0.4);
	background: #FFFEEB;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom: 1px solid #222;
}
div#systemMsg
{
	background: #FFC url(../../images/icons/information.png) 10px 50% no-repeat;
	color: #000;
	font-weight: normal;
	padding: 6px 8px 8px 36px;
	border: 1px solid #000;
	cursor: pointer;
	cursor: hand;
	font-size: 12px;
	border-radius: 6px;
	margin: 3px;
}
div#message h3
{
	color: #333;
	font-size: 17px;
	margin: 0 0 5px 0!important;
	padding: 0;
	font-weight: bold;
	border: none;
}
#message ul, div.msg ul
{
	margin: 5px 0 0 0;
	padding: 0;
}
#message ul li, div.msg ul li
{
	list-style: none;
	background: transparent url(../../images/li.gif) 0 2px no-repeat;
	padding: 0 0 0 16px;
}
#message.info #msg-wrap, div.msg div.info
{
	border-color: #AAA;
	background-image: url('../../images/icons/information.png');
}
#message.error #msg-wrap, div.msg div.err
{
	font-size: 13px!important;
	background-image: url('../../images/icons/exclamation.png');
}
/*div.loginBox input[type="checkbox"]
{
	margin-left: -210px;
	margin-right: 200px;
}*/
div.loginBox input[type="checkbox"]+label
{
	color: #999;
	font: normal 13px 'ProximaNova-Regular', helvetica, arial, sans-serif;
	cursor: pointer;
	padding: 3px 5px;
	border: 1px dotted #FFF;
}
div.loginBox input[type="checkbox"]+label span
{
	display: inline-block;
	width: 13px;
	height: 19px;
	margin: -1px 5px 0 0;
	vertical-align: middle;
	background: url('../../images/newui/billing/check_radio_sheet.png') left top no-repeat;
	cursor: pointer;
}
div.loginBox input[type="checkbox"]:checked+label span
{
	background: url('../../images/newui/billing/check_radio_sheet.png') -19px top no-repeat;
}
div.loginBox .btn-lg
{
	width: 100%;
	height: 55px;
	background-color: #43C86F;
	border-radius: 6px;
	border:0;
    color: #FFFFFF;
	font-size:18px;
	cursor:pointer;
}
div.loginBox .btn-lg:hover
{
	background-color: #53CD78;
}
div.login-white-shadow
{
	border-radius: 10px;
}
div.loginBoxWrap
{
	margin: -222px auto 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -178px;
	height: 431px;
	border-radius: 10px;
}
div.loginBoxWrap.branded
{
	margin-top: -362px;
	padding-top: 140px;
	background: transparent url(../../images/newui/login/twLogo.png) 50% 0 no-repeat!important;
}
div.loginBox
{
	background: #FFF;
	border-radius: 10px;
	width: inherit;
	padding: 30px 34px;
	box-shadow: 0 5px 30px rgba(0,0,0,0.52);
	min-width: 300px;
	overflow: hidden;
}
div.loginLogo
{
	display: block;
	text-align: center;
}
div.loginLogo img
{
	display: inline-block;
	max-height: 150px;
}
div.loginSiteName
{
	margin: 20px auto 0;
	color: #333;
	font: 20px 'ProximaNova-SemiBold', helvetica, arial, sans-serif;
	text-align: center;
}
div#lUserWrap
{
	margin: 10px auto 0 auto;
	border: 1px solid #CCC;
	background: #ededed;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
div#lPassWrap
{
	margin: 0 auto 0 auto;
	border: 1px solid #CCC;
	background: #ededed;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top: none;
}
div#lOpenIdWrap
{
	margin: 10px auto 0 auto;
	border: 1px solid #CCC;
	background: #ededed;
	border-radius: 5px;
}
div.loginBox div.inputWrap
{
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	padding: 0;
	position: relative;
	vertical-align: baseline;
	white-space: nowrap;
	width: 240px;
	z-index: 1;
}
div.loginBox div.inputWrap input
{
	margin: 0;
	width: 254px;
	font: normal 16px/18px 'ProximaNova-Regular', helvetica, arial, sans-serif;
	padding: 10px 0 10px 40px;
	border: none;
	background: #ededed;
	color: #222;
	outline: none;
}
div.loginBox div.inputWrap input#password
{
	background-position: 8px -43px;
}
div.loginBox div.inputWrap input:focus
{
	background-color: #ededed;
}
#ph_userLogin, #ph_password, #ph_openID, #ph_email
{
	position: absolute;
	top: 12px;
	left: 40px;
	font: normal 16px/18px 'ProximaNova-Regular', helvetica, arial, sans-serif;
	color: #CCC;
}
div.loginBox span#ph_userLoginIcon, div.loginBox span#ph_passwordIcon, div.loginBox span#ph_emailIcon
{
	position: absolute;
	top: 2px;
	left: 0;
	color: #CCC;
	background-image: url(../images/login-sprite.png)!important;
	padding: 0;
	width: 42px;
	height: 35px;
	background-position: 9px 0;
	background-repeat: no-repeat;
	z-index: 600;
	line-height: 40px;
}
div.loginBox span#ph_passwordIcon
{
	background-position: 9px -35px;
}
div.loginBox span#ph_emailIcon
{
	background-position: 9px -70px;
}
form[action="forgot_password"] div.loginBox div.inputWrap input#userLogin
{
	width: 200px;
}
a.btn-a
{
	color: #fff;
	font: normal 16px/18px 'ProximaNova-Regular', helvetica, arial, sans-serif;
	text-decoration: none;
}
div.lFooter
{
	display: block;
	margin: 25px auto 0 auto;
	padding: 0;
	width: 370px;
	font: normal 13px 'ProximaNova-Regular', helvetica, arial, sans-serif;
}
div.lFooter a
{
	color: #FFF;
	margin-right: 10px;
	text-decoration: none;
	font-size: 14px;
	border-bottom: 1px solid #818b99;
}
div.lFooter a:hover
{
	border-bottom: 1px solid #FFF;
}
.remember-me
{
	margin-top:10px;
}
.submit-btn
{
	margin:7px 0 0 0;
	min-height:60px;
	position:relative;
}

/************ register *****************/

.registration, .webform
{
	background:#fff;
	padding:60px 0;
	margin-top:105px;
}
.registration h2, .webform h2
{
	color: #555555;
    display: inline-block;
    font-family: "Open Sans",sans-serif;
    font-size: 29px;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 110%;
    margin: 0;
    min-width: 400px;
    text-transform: uppercase;
	margin-bottom:30px;
}
.registration .radio-box
{
	margin-bottom:10px;
}
.registration .radio-box label
{
	display:inline-block;
	margin-left:5px;
	vertical-align:middle;
	margin-top:5px;
	margin-right:10px;
}
.registration input[type="text"], .webform input[type="text"], .registration input[type="password"],.registration input[type="email"],.registration textarea, .registration select, .webform select, .webform textarea
{
 	background: none repeat scroll 0 0 #FAFAFA;
    border: 0 none;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.22);
    color:#555555;
    display: block;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    max-width: 100%;
    outline: medium none !important;
    padding: 12px 20px;
    transition: all 0.3s linear 0s;
    width:60%;
	height:45px;
	margin-bottom:20px;
}
.webform textarea
{
	width:40%;
	margin-left:220px;
	height:100px;
}
select option
{
	padding:5px;
}
.registration input[type="submit"]
{
	margin-left:140px !important;
}
.webform input[type="text"],.webform select
{
	width:25%;
}
.registration input[type="submit"], .webform input[type="submit"], .webform .add-row, .webform .delete-row, .webform input[type="button"]
 {
    background-color: #2186B8;
    background-image: linear-gradient(#2892C6, #2186B8);
    border: medium none;
    border-radius: 3px;
    color: #FFFFFF;
    display: inline-block;
    font-family: inherit;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: 5px 2px;
    opacity: 0.87;
    outline: medium none !important;
    position: relative;
    text-align: center
    transition: all 0.3s ease 0s;
    white-space: nowrap;
	float:left;
	font-size: 13px;
    min-width: 150px;
    padding: 14px 50px;
}

.registration-complete form, .activation-complete form
{
	text-align:right;
}
.activation-complete .required
{
	margin-left:0 !important;
}
.webform .add-row
{
	margin-left:125px;
	margin-top:20px;
}
.open-projects h2
{
	text-align:right;
}
.latest-posts
{
	list-style:none;
}
.latest-posts > li
{
    clear: both;
    list-style: none outside none;
    padding: 0 0 40px;
}

.latest-posts > li .latest-posts-content
{
    margin-left: 120px;
}

.latest-posts > li .latest-posts-content h5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 0 5px;
	    color: #444444;
}
.latest-posts li a {color:#444444;}
.latest-posts li a:hover {color:#0088CC;}

.post-meta-data span:last-child 
{
    padding-right: 0;
}
.post-meta-data span:first-child 
{
    padding-left: 0;
}
.post-meta-data span 
{
    color: #AAAAAA;
    display: inline-block;
    padding: 0 4px;
}
.latest-posts > li .latest-posts-content p.excerpt {
    margin: 5px 0 0;
	 color: #AAAAAA;
}

/***** webform *******/

.webform .radio label, .webform .radio input
{
	

}
.webform .check input
{
	float:left;
	margin-right:5px;
}
.webform .radio label:first-child
{
	margin-left:-15px;
}
.webform label, .webform input[type="text"], .webform select, .webform input[type="radio"], .registration label, .registration input[type="text"], .registration select, .registration input[type="radio"], .registration input[type="email"], .registration input[type="password"]
{
	display:inline-block;
	margin-bottom:0;
}
.webform .controls label, .registration .controls label
{
	width:200px;
	text-align:right;
	margin-right:20px;
}
.registration .controls label
{
	width:120px;	
}
.webform .controls, .registration .controls
{
	margin-bottom:20px;
}
.webform .check label,.webform .radio label
{
	float:left
}
.webform .radio input,.webform .check input
{
	margin-left:10px;
	margin-right:10px;
}
.webform .radio input
{
	margin-left:18px;
}
.webform .check input
{
	margin-left:22px;
}
.webform .vlan input[type="text"]
{
	width:50%;
}
.webform .vlan .vlan-id input[type="text"] 
{
    width:50%;
    margin-bottom:20px;
}
.webform .vlan  .layer2_vlan_name
{
    width:100% !important;
}

.webform .vlan 
{
	margin-top:20px;
	clear:both;
}
.webform .vlan .delete-row
{
    float:left;
    margin-top:1px;
    margin-left:20px;
}

.webform .vlan .span6 {
    width: 41%;
	margin-bottom:20px;
}
.webform .vlan .required
{
	margin-top:20px;
	padding-left:130px;
}
.webform .vlan label
{
	width:100px;
}

.title
{
	width:200px;
	text-align:right;
}
.webform .radio, .webform .check
{
	margin-bottom:20px;
}
.webform .layer3 .span6
{
	width:36% !important;
}
.webform .layer3 label
{
	width:100px;
}
.webform .layer3 .web-form-required
{
	padding-left:125px;
	margin-top:10px;
}
.webform .layer3 input[type="text"]
{
	width:86%;
	
}
.webform .layer3 input[type="submit"]
{
	margin-left:124px;
}
.webform .layer3 .config-btn1
{
	padding:14px 78px;
	margin-top:20px;
}
.webform .layer3 .config-btn2
{
	padding:14px 20px;
	margin-left:45px;
	margin-top:20px;
}
.webform .layer3  input.configure-text
{
	width:12%;
	margin-top:5px;
	margin-left:5px;
}
.webform .layer3 .configure-description
{
	width:25% !important;
	margin-left:107px;
	margin-top:5px;
}
.webform .securiy .span2
{
	margin-top:10px;
}
.webform .security label
{
	width:150px;
	text-align:left;
}
.webform .security input[type="text"], .webform .security select
{
	width:100%;
	margin-top:5px;
}
.webform .qos label
{
	width:50px;
}
.webform .qos label.big
{
	width:200px;
}
.webform .qos .radio .title
{
	width:200px;
}
.accordion-heading
{
	background:#ddd;
}
.accordion-inner
{
	float:left;
	padding-top:20px;
	padding-bottom:10px;
	float:left;
	width:100%;

}
.activation-complete .span6, .registration-complete .span10
{
	float:none;
	margin:0 auto !important;
}
.activation-complete .span6 p,  .registration-complete .span10 p
{
	text-align:center;
}

.activation-complete .span6 .controls
{
	text-align:left;
}
 .registration-complete .span10 .controls
 {
	 text-align:center;
	 margin-right:120px;
 }

.registration-complete input[type="email"], .registration-complete input[type="password"] {
    width: 30%;
}
.registration-complete form
{
	margin-top:20px;
}
.registration-complete input[type="submit"]
{
	margin-left:430px !important;
}
.activation-complete input[type="submit"]
{
	margin-left:238px !important;
}
.activation-complete .required
{
	margin-top:5px;
	margin-bottom:10px;
}

.registration-complete .required
{
	margin-left:0 !important;
	margin-bottom:10px;
}
/******** device list *******************/


.list, .webform .layer3 table 
{
	width:90%;
	border:1px solid #d2d2d2;
}
.list td, .list th, .webform .layer3 table td, .webform .layer3 table th
{
	padding:5px;
	text-align:center;
	border:1px solid #d2d2d2;
}
.webform .layer3 table td, .webform .layer3 table th
{
	padding:10px;
}
.list thead th, .webform .layer3 table th
{
	background:#E2E2E2;
}
.list tbody tr:hover , .webform .layer3 tbody tr:hover
{
	background:#f2f2f2;
}

.required
{
	color:#F44E4E;
	padding-bottom:20px;
	float:left;
}
.web-form-required
{
	padding-left:224px;
}
.registration .required
{
	margin-left:135px;
}
ul.errorlist
{
	margin-bottom:0;
}
.login-required
{
	float:none;
	width:100%;
	text-align:center;
	margin-top:10px;
	padding-bottom:0;
}
.last
{
	display:block;
	width:100%;
}

.device-list, .registration, .webform
{
	min-height:800px;
	height:auto;
}

.security .delete-row
{
	margin-left:40px;
	margin-top:5px;
}
.security .add-row
{
	margin-left:0;
	float:right;
	margin-top:-65px;
	margin-right:40px;
}
.security .id
{
	width:6% !important;
}
.security .id label
{
	margin-left:30px;
}
.security .span2
{
	width:12%;
	margin-left:1%;
}

.apply_acl
{
	float:left;
	clear:both;
}
.registration-email label
{
	width:400px !important;
	
}
.registration-email input[type="email"]
{
	width:40%;
}
.registration-email input[type="submit"]
{
	margin-left:425px !important;
	margin-top:20px;
}
.webform .view-config-btn
{
	float:right !important;
	padding: 14px 20px !important;
	   
}
.vlan
{
    clear:both;
    margin-bottom:20px;
}

#vlan_form .add-row
{
	float:left;
	margin-left:20px;
	margin-top:2px;
}
.add-row
{
	background-image:url("../images/add.png") !important;
	background-repeat:no-repeat !important;
	background-position: center!important;
	background-color:#2186B8 !important;
	padding:22px 20px !important;
	min-width:46px !important;
	border-radius:50% !important;
	background-size:20px;
}
.delete-row
{
	background-image:url("../images/delete.png") !important;
	background-repeat:no-repeat !important;
	background-position: center!important;
	background-color:#2186B8 !important;
	min-width:46px !important;
	border-radius:50% !important;
	padding:22px 20px !important;
	background-size:20px;
}

/*** layer3 test ***/

.layer3-test table
{
	border: 1px solid #D2D2D2;
	width:90%;
}
.layer3-test table th, .layer3-test table td
{
	 border: 1px solid #D2D2D2;
	 padding:10px;
	 text-align:center;
}
.layer3-test input[type="text"], .layer3-test select
{
	width:80%;
}
.layer_test3 label
{
    width:auto !important;
    margin-bottom: 10px;
}
.webform .layer_test3 .config-btn1
{
    margin-top:6px;
}

.layer3-test table th {
    background: none repeat scroll 0 0 #E2E2E2;
}
.layer3-test table .config-btn1
{
	margin-top:0;
}
.layer3-test table th.config
{
	width:50px;
}
.layer3-test table select
{
	width:68%;
}
/*** modal ****/

.modal-body .controls label
{
	float:left;
	line-height:3;
}
.modal-body .controls textarea
{
	width:50%;
}
#myModal button.close
{
	  margin-right: 10px;
    margin-top: 5px;
}
.modal input[type="text"]
{
	width:56%;
}
.vlan-label
{
    clear:both;
}

.webform .layer3 .vlan-id {
    width: 20%;
}

.layer3-test2 .controls label
{
    width:200px;
}
.layer3-test2 .radio .title
{
    width:200px;
}
.layer3-test2 .radio label
{
    width:60px;
    margin-right:0;
}
.webform .layer3-test2  .radio input
{
    margin-left:14px;
}
.device-list .view-config-btn
{
    margin-right: 120px !important;
}
.vlan-label label
{
    width:auto !important;
    text-align: left;

}
.vlan .span4, .vlan-label .span4
{
    width:18%;
}
.cus_textbox input[type="text"]{ margin:7px 0 5px; }
#collapseFour2 .cus_buttons input[type="button"]{ margin:6px 0 5px; }
.span3.mar_bot_none .controls{ margin-bottom:0;}
.span3.mar_left_none{ margin-left:0;}
.span3.mar_bot_none label{ text-align:left; width:auto;}
.webform .controls.mar_none_layer{ margin:0;}
.main-div .controls input[type="button"]{ margin:0; }
.webform .controls.layer3 .vlan-id,.webform .controls #layer3_tbody_test .vlan-id{ width:50%;}
#collapseFour2 label,#collapseSix label,#collapseThree label{font-size: 13px;font-weight: bold; }
#collapseFour2 label,#collapseFour1 label,.layer3-test table th{ text-transform:uppercase;}
