{% extends "base.html" %}
{% load i18n %}


{% block inner_content %}
<div class="webform device-list">
<div class="container">
<div class="row-fluid">
  <div class="span12">
    <h2>DEVICE CONFIGURATIONS</h2>
    <a href="/webform/"><input type="button" value="Create New Config" class="view-config-btn"></a>
    <table border="1" class="list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Device Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Configuration</th>
            </tr>
        </thead>
        
        <tbody>
        {% for web in web_forms %}
                <tr>
                    <td>{{ web.user.get_full_name }}</td>
                    <td>{{ web.device_name }}</td>
                    <td>{{ web.datetime|date:"M-d-Y" }}</td>
                    <td>{{ web.datetime|time:"H:i:s" }}</td>
                    <td><a href="{% url 'download' web.id %}" title="Download File">{{ web.slug }}_{{ web.datetime|date:"mdy" }}.cfg</a></td>
                </tr>
        {% empty %}
         <tr>
                <td colspan="5">There is no device configurations!</td>     
        </tr>
        {% endfor %}
        </tbody>
        </table>
    
</div>
  </div>
  </div>
</div>
<div class="clear"></div>
<div class="clear"></div>
{% endblock inner_content %}

