<!DOCTYPE HTML>
<html>
{% load staticfiles %}

{% block header %}
<head>
<title>{% block title %}Basic Form{% endblock title %}</title>
{% block style_sheets %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
<!--[if lt IE 9]>
<script src="css/html5shiv.min.js"></script>
<![endif]-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
{% endblock style_sheets %}
</head>
{% endblock header %}
<body>
{% block content %}
<div id="header">
  <div class="container">
    <div class="row">
	{% block logo %}
      <div class="span6"> <a href="#" class="logo">
      <img src="{% static 'images/logo1.jpg' %}" alt="logo">
      <h2>Honey Badger Ops</h2></a></div>
	{% endblock logo %}
      {% block nav %}
      <div class="span6 offset3">
        <nav class="menu">
          <ul>
            <li><a href="{% url 'index' %}" id="current">Home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Abous Us</a></li>
            <li><a href="#">Contact</a></li>
       		<!--<li><a href="#">Dashboard</a></li>-->
          </ul>
        </nav>
      </div>
    </div>
	{% endblock nav %}
  </div>
</div>
  <div class="clear"></div>
<div class="banner">
    <div class="container">
    <div class="row">
	{% block inner_content %}
    	<div class="banner-text">
        <p class="text1">Build. Measure. Learn. Optimize. Repeat.</p>
		<p class="site-title">Honey Badger Ops</p>  
        <p>__________________</p>  
       
       <div class="button button-1"> 
        <p>Need Help Building Configs?</p>
       <a href="{% url 'registration_register' %}" class="btnn grey" style="margin-left:2%;">Register</a> 
       </div>
       <div class="button-2">
        <p>Start Simplifying Now!</p>   
        <a href="{% url 'auth_login' %}" class="btnn">
      <i class="glyphicon glyphicon-cutlery"></i>Login</a>
       </div>
    	    <p class="text2">Streamline your staging, configuration, and deployment process today.<br/>Take the first step to network automation.</p>
    </div>
 	{% endblock inner_content %}
  </div>
  </div>
        </div>
<div class="clear"></div>
{% endblock content %}
{% block footer %}
<div id="footer">
  <div class="container">
    <div class="row-fluid">
      <div class="span6">
        <h4>Get In Touch</h4>
        <p>Need engineering assistance? Excited about the future of hardware?</p>
        <ul class="contact">
          <li><img src="{% static 'images/contact_icon.jpg' %}"><a href="mailto:sample@sample.com">sample@sample.com</a></li>
          <li><img src="{% static 'images/address_icon.jpg' %}">1914</li>
        </ul>
        <ul id="social_icons_1" class="social-icons medium">
          <li> <a href="#" title="Twitter" target="_blank"><img src="{% static 'images/twitter_icon.jpg' %}"></a> </li>
          <li> <a href="#" title="LinkedIn" target="_blank"><img src="{% static 'images/linkedn_icon.jpg' %}"></a> </li>
          <li> <a href="#" title="Google+" target="_blank"><img src="{% static 'images/gooleplus_icon.jpg' %}"></a></li>
        </ul>
      </div>
      <div class="span6">
        <h4>Latest Tweets</h4>
        <ul class="tweets">
          <li><span class="twitter-icon"><img src="{% static 'images/twitter_small_icon.jpg' %}"></span>RT <a target="_blank" href="#">@Insta_RaspPi</a>: <a target="_blank" href="http://t.co/IX2ioTtHIg">http://t.co/IX2ioTtHIg</a> - Some serious hardware hacking #hotelRoom #raspberryPi #little... <a target="_blank" href="#">http://t.co/yOg5UfiXxl</a> <a target="_blank" href="http://t...">http://t</a><br>
            <a href="#"> 9 hours ago </a> </li>
          <li><span class="twitter-icon"><img src="{% static 'images/twitter_small_icon.jpg' %}"></span>Looking for #freelance #hardware #engineers to assist with #Design review for #Arduino; &nbsp;<a href="#" target="_blank">http://t.co/TNdJhgwsVD</a>&nbsp; </span> <br>
            <a href="#"> 9 hours ago </a> </li>
          <li><span class="twitter-icon"><img src="{% static 'images/twitter_small_icon.jpg' %}"></span>&nbsp;<a href="#" target="_blank">@digilord</a>&nbsp; &nbsp;<a href="#" target="_blank">@grandst</a>&nbsp; &nbsp;<a href="#" target="_blank">@palettegear</a>&nbsp; Seriously cool! </span> <br>
            <a href="#"> 9 hours ago </a> </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock footer %}
{% block copy_right %}
<section id="copyright">
  <div class="container">
    <div class="row-fluid">
      <div class="row-fluid">
       <div class="copyright-text span4">
                &copy; 2014  | v1.1 </div>
      <div class="span8 textright">
      <ul class="footer-menu" id="footer_menu"><li id="menu-item-2762"><a href="{% url 'index' %}">Home</a></li>
        <li id="menu-item-2766"><a href="#">Blog</a></li>
        <li id="menu-item-2765"><a href="#">About</a></li>
		</ul>        
      </div>
    </div>
   </div>
 </div>
</section>
{% endblock copy_right %}
</body>
</html>
