<html>
<head><title>Login</title></head>

<body>
<form action="/accounts/register/" method="POST"> {% csrf_token %}
<h2>Please enter your details . . .</h2>
    {{ form.as_p }}
<input type="submit" value="Sign Up">
</form>
</body>
</html>