{% extends "base.html" %}

{% load staticfiles %}

{% block title %} Web Form {% endblock title %}

{% block header %}
    {{ block.super }} 
<!-- Newly added --> 
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script> 
<script src="/static/js/jquery.formset.min.js"></script> 
<script src="/static/js/bootstrap.min.js"></script>
<script src="http://jquery.bassistance.de/validate/jquery.validate.js"></script>
<script src="http://jquery.bassistance.de/validate/additional-methods.js"></script>
<script type="text/javascript">
   
           $(function() {
               $('#vlan_form div.vlan').formset({
                addText: '',
                deleteText: '',
                });
	       
	       $('#apply_acl_form ').formset({
                addText: '',
                deleteText: '',
                });
           })
</script> 
<script>
$(document).ready(function () {
    
    //$('#id_form-0-action option:selected').text('Choose One');
    
    $('#webform').validate({
        rules: {
            vendor: {
                selectcheck: true
            },
            device_name: {
                selectcheck1: true,
                //required: true
            },
            device_type: {
                selectcheck2: true,
                //required: true
            },
        },
    });
    
    jQuery.validator.addMethod('selectcheck', function (value) {
        $('#vendor').parents('.accordion-group').find('#collapseOne').addClass('in');
        return (value != '');
        }, "Vendor is required");
    
    jQuery.validator.addMethod('selectcheck2', function (value) {
        $('#device_type').parents('.accordion-group').find('#collapseOne').addClass('in');
        return (value != '');
        }, "Device type is required");
    
    jQuery.validator.addMethod('selectcheck1', function (value) {
        $('#device_name').parents('.accordion-group').find('#collapseTwo').addClass('in');
        return (value != '');
        }, "Device name is required");
    
    //jQuery.validator.addMethod('selectcheck1', function (value) {
    //    $('#device_name').parents('.accordion-group').find('#collapseTwo').addClass('in');
    //    return (value != '0');
    //    }, "Device Name is required");
    
    
    // Please Management Vlan ID
    $(".mgmt_vlan_id").hide();
    
    if($("#vendor").data('options') == undefined){
        /*Taking an array of all options-2 and kind of embedding it on the vendor*/
        $("#vendor").data('options',$('#device_type option').clone());
        } 
    var id = $("#vendor").find('option:selected').attr('class');
    var options = $("#vendor").data('options').filter('[class=' + id + ']');
    $('#device_type').html(options);
    
    // Change Vendor and Device Type
    $("#vendor").change(function() {
    if($(this).data('options') == undefined){
        /*Taking an array of all options-2 and kind of embedding it on the vendor*/
        $(this).data('options',$('#device_type option').clone());
        } 
    var id = $(this).find('option:selected').attr('class');
    
    var options = $(this).data('options').filter('[class=' + id + ']');
    $('#device_type').html(options);
	
    });
    
    $(".type-1").hide();
    $(".type-2").hide()
    $(".type-3").hide()
		      
    // for Configure Physical Interfaces
    $("#vendor,#device_type").change(function() {
            if($('#interface_type').data('options') == undefined){
         /*Taking an array of all options-2 and kind of embedding it on the vendor*/
         $("#interface_type").data('options',$('#interface_type option').clone());
            } 
            var v_id = $("#vendor").val();
            var v_type = $('#device_type').val();
            if ($.trim(v_id) =='Cisco'){
                if ($.trim(v_type).indexOf("ISR") >= 0 || $.trim(v_type).indexOf("ASR") >= 0){ 
                    var interface_option = $("#interface_type").data('options').filter('[class= "g1"]');
                    $("#interface_type").html(interface_option);
		    $(".type-1").show();
		    $(".type-2").hide();
		    $(".type-3").hide();
                }
                else if ($.trim(v_type).indexOf("Catalyst") >= 0 || $.trim(v_type).indexOf("Nexus") >= 0){
                    var interface_option = $("#interface_type").data('options').filter('[class= "g2"]');
                    $("#interface_type").html(interface_option);
		     $(".type-1").hide();
		      $(".type-2").show();
		      $(".type-3").hide();
		   
                }
                else {
                        var interface_option = $("#interface_type").data('options').filter('[class= "v1"]');
                        $("#interface_type").html(interface_option);
			$(".phy_interface").val("");
                    }
            }
            else if ($.trim(v_id) =='Juniper' || $.trim(v_id) == "Arista"){
                var interface_option = $("#interface_type").data('options').filter('[class= "g3"]');
                $("#interface_type").html(interface_option);
		$(".type-1").hide();
		      $(".type-2").hide();
		      $(".type-3").show();
            }
            else {
                var interface_option = $("#interface_type").data('options').filter('[class= "v1"]');
                $("#interface_type").html(interface_option);
		$(".phy_interface").val("");
            }
        });
    
    $("#layer_3_id, #layer_3_id_test").click(function(){
        $("#layer3_t_body tbody").empty();
        $("#layer3_tbody_test tbody").empty();
        $("#layer3_test2").empty();
        for (var i=0; i<101; i++){
            var layer_2_id_val = $("#id_form-"+i+"-vlan_id").val();
            var layer_2_name_val = $("#id_form-"+i+"-vlan_name").val();
            if ($.trim(layer_2_id_val) == "" && $.trim(layer_2_name_val) == "") {
                break;
            }
            var t_body = '<tr>';
            var test2_div = '<div class="main-div"><div class="span3"><div class="controls">';
            t_body += '<td>';
                t_body +='<input type="text" maxlength="4" name="vlan_id" class="vlan-id" value="' + layer_2_id_val +'"readonly="readonly" />';
                test2_div +='<input type="text" name="vlan_id" class="vlan-id" value="' + layer_2_id_val +'"readonly="readonly" />'
            t_body += '</td><td>';
            test2_div += '</div></div><div class="span3"><div class="controls">'
                t_body +='<input type="text" name="vlan_name" value="' + layer_2_name_val +'"readonly="readonly" />';
                test2_div +='<input type="text" name="vlan_name" value="' + layer_2_name_val +'"readonly="readonly" />';
            t_body += '</td><td>';
            test2_div += '</div></div><div class="span3"><div class="controls">'
            var t_body_test = t_body
                t_body +='<input type="text" name="ip_addr" />';
                t_body_test +='<input type="text" name="ip_addr1" />';
                test2_div +='<input type="text" name="ip_addr1" />';
            t_body += '</td><td>';
            t_body_test += '</td><td>';
            test2_div += '</div></div><div class="span3"><div class="controls">'
            
            t_body += '<input type="text" name="ifdsc_text" /></td></tr>';
            
            
            t_body_test +='<input id="conig" type="button" value="Configure" class="configure_layer_3 config-btn1" ';
            t_body_test += 'href="#myModal_'+i+'" data-toggle="modal" data-target="#myModal_'+i+'"></td></tr>';
            
            test2_div += '<input id="conig" type="button" value="Configure" class="configure_layer_3 config-btn1" ';
            test2_div += 'href="#test2_myModal_'+i+'" data-toggle="modal" data-target="#test2_myModal_'+i+'">'
            test2_div += '</div></div></div><div class="clear"></div>';
            var pop_var = '<div id="myModal_'+i+'" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">';
            var test2_pop_var = '<div id="test2_myModal_'+i+'" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">';
                //pop_var += '<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>'
		
                pop_var += '<div class="modal-header">'
		pop_var += '<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>'
		pop_var += '<h4>Configuration Details for $INTERFACE</h4></div>'
                pop_var += '<div class="modal-body">'
                pop_var += '<div class="controls">'
                pop_var += '<label>Interface Description</label>'
                pop_var += '<input type="text" class="ifdsc_text" name = "ifdsc_text1" />'
                pop_var += '</div>'
                pop_var += '<div class="controls">'
                pop_var += '<label>Placeholder</label>'
                pop_var += '<input type="text" class="ifdsc_ph" name = "ifdsc_ph" />'
                pop_var += '</div>'
                pop_var += '</div>'
                pop_var += '<div class="modal-footer">'
                pop_var += '<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>'
                pop_var += '<button class="btn btn-primary" data-dismiss="modal">Submit</button>'
                pop_var += '</div>'
                pop_var += '</div>'
                
                test2_pop_var += '<div class="modal-header">'
                test2_pop_var += '<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>'
                test2_pop_var += '<h4>Configuration Details</h4></div>'
                test2_pop_var += '<div class="modal-body"><div class="controls"><label>Manual Additions</label>'
                test2_pop_var += '<textarea class="controls" name="manual_addition" id="manual_addition" ></textarea></div>'
                test2_pop_var += '<div class="radio">'
                test2_pop_var += '<label class="title" >State</label>'
                test2_pop_var += '<input type="radio" name="state_level" checked="checked" value="Yes">'
                test2_pop_var += '<label>Enabled</label>'
                test2_pop_var += '<input type="radio" name="state_level" value="No">'
                test2_pop_var += '<label>Disabled</label></div></div>'
                test2_pop_var += '<div class="modal-footer">'
                test2_pop_var += '<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>'
                test2_pop_var += '<button class="btn btn-primary" data-dismiss="modal">Submit</button>'
                test2_pop_var += '</div>'
                test2_pop_var += '</div>'
                
            $("#pop_up").append(pop_var);
            $("#test2_pop_up").append(test2_pop_var);
            $("#layer3_t_body").append(t_body);
            $("#layer3_tbody_test").append(t_body_test);
            $("#layer3_test2").append(test2_div);
            }
        
        });
    
    //pop-up dispaly
    
    $("#model_config_1,#model_config_2,#model_config_3,#model_config_4,#model_config_5,#model_config_6,#model_config_7,#model_config_8,#model_config_9,#model_config_10,#model_config_11,#model_config_12,#model_config_13,#model_config_14,#model_config_15 , #model_config_16").click(function(){
        var conf_id = $(this).attr('id');
        var temp_pop = '<div id="pop_'+conf_id+'" class="modal hide fade layer3-test2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">'
        temp_pop += '<div class="modal-header">'
        temp_pop += '<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>'
        temp_pop += '<h4>Configuration Details</h4></div>'
        temp_pop += '<div class="modal-body"><div class="controls"><label>Manual Additions</label>'
        temp_pop += '<textarea class="controls" name="manual_addition" id="manual_addition" ></textarea></div>'
        temp_pop += '<div class="radio">'
        temp_pop += '<label class="title" >State</label>'
        temp_pop += '<input type="radio" name="state_level" checked="checked" value="Yes">'
        temp_pop += '<label>Enabled</label>'
        temp_pop += '<input type="radio" name="state_level" value="No">'
        temp_pop += '<label>Disabled</label></div></div>'
        temp_pop += '<div class="modal-footer">'
        temp_pop += '<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>'
        temp_pop += '<button class="btn btn-primary" data-dismiss="modal">Submit</button>'
        temp_pop += '</div>'
        temp_pop += '</div>'
        $("#temp_pop_op_div").append(temp_pop);
        
    });
    
    
   // Display IP Adderss   
   $("#mgmt_ip_addr_type").change(function() {
	   var val = $(this).val();
	   if(val== "2"){
	       $(".mgmt_vlan_id").show();  
	   }
	   else{
	       $(".mgmt_vlan_id").hide();      
	   }
   });

   // Open the Configuration Layer 3 
   $(".configure_layer_3").click(function() {
	   $('.configure-text').show();
   });
   
   // Open the Configuration Description
   $(".configure_desc").click(function() {
	   $('.configure-description').show();
   });
   
    // Open Qoc custom text if custom is selected
    $("#qos_custom1").click(function() {
	   $('#qos_custom1_text').show();
    });
   
    $("#qos_custom2").click(function() {
	   $('#qos_custom2_text').show();
    });
    
    
    // Close Qoc custom text if custom is not selected
    $("#qos_srnd1").click(function() {
	   $('#qos_custom1_text').hide();
    });
   
    $("#qos_srnd2").click(function() {
	   $('#qos_custom2_text').hide();
    });
});



</script>

<script>

$('input').tooltip('show');
$(".collapse").collapse();
$('#conig').modal('toggle');

</script>

<style>
.webform .layer3-test .phy_layer3 input[type="text"]
{
	   width:50%
}
</style>
{% endblock %}


{% block inner_content %}
<div class="webform">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        <h2>CREATE DEVICE CONFIGURATION</h2>
        <a href="/device/list/"><input type="button" value="View Configs" class="view-config-btn"></a>
        <form action = '/webform/' method="POST" id="webform">
          {% csrf_token %}
          <div class="accordion" id="accordion2">
            <div class="accordion-group">
              <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Device</a> </div>
              <div id="collapseOne" class="accordion-body collapse">
                <div class="accordion-inner">
                  <div class="controls">
                    <label>Vendor</label>
                    <select name="vendor" id="vendor" class="v1">
                      <option class="v1" value="">Choose One</option>
                      <option class="v2" value="Cisco">Cisco</option>
                      <option class="v3" value="Juniper">Juniper</option>
                      <option class="v4" value="Arista">Arista</option>
                    </select>
                  </div>
                  <div class="clear"></div>
                  <div class="controls">
                    <label>Device Type</label>
                    <select name="device_type" id="device_type">
                      <option class="v1" value="">Choose One</option>
		      <!-- Sub options for Cisco -->
                      <option class="v2" value="Catalyst 2960">Catalyst 2960</option>
                      <option class="v2" value="Catalyst 3650">Catalyst 3650</option>
                      <option class="v2" value="Catalyst 3850">Catalyst 3850</option>
		      <option class="v2" value="Catalyst 4500">Catalyst 4500</option>
		      <option class="v2" value="Catalyst 6500">Catalyst 6500</option>
		      <option class="v2" value="Nexus 5000">Nexus 5000</option>
		      <option class="v2" value="Nexus 7000">Nexus 7000</option>
		      <option class="v2" value="Nexus 9000">Nexus 9000</option>
		      <option class="v2" value="ISR G2 1900">ISR G2 1900</option>
		      <option class="v2" value="ISR G2 2900">ISR G2 2900</option>
		      <option class="v2" value="ISR G2 1900">ISR G2 1900</option>
		      <option class="v2" value="ASR 1001">ASR 1001</option>
		      <option class="v2" value="ASR 1002-X">ASR 1002-X</option>
		      <option class="v2" value="ISR 4451">ISR 4451</option>

		      <!-- Sub options for Juniper -->
                      <option class="v3" value="Juniper1">Juniper1</option>
                      <option class="v3" value="Juniper2">Juniper2</option>
                      <option class="v3" value="Juniper3">Juniper3</option>
		      
		      <!-- Sub options for Arista -->
                      <option class="v4" value="Arista1">Arista1</option>
                      <option class="v4" value="Arista2">Arista2</option>
                      <option class="v4" value="Arista3">Arista3</option>
		      
                    </select>
                  </div>
                </div>
              </div>
            </div>
	    
	    <!-- collapseTwo Div Start -->
            <div class="accordion-group">
              <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">General</a> </div>
              <div id="collapseTwo" class="accordion-body collapse {% if message %} in {% endif %}">
                <div class="accordion-inner">
                  <div class="controls">
                    <label title="Host name" data-toggle="tooltip">Device Name</label>
                    <input type="text" id="device_name" name="device_name" >
                  </div>
                  
                  <div class="clear"></div>
                  <div class="controls">
                    <label title="Enable secret">Enable Secret</label>
                    <input type="text" name="password" title="Enable secret">
                  </div>
                  <div class="clear"></div>
                  <div class="clear"></div>
                  <div class="check">
                    <label class="title">Access Options</label>
                    <input type="checkbox" name="access_options" value="telnet">
                    <label>Telnet</label>
                    <input type="checkbox" name="access_options" value="ssh">
                    <label>SSH</label>
                    <input type="checkbox" name="access_options" value="web">
                    <label>Web</label>
                    <div class="clear"></div>
                  </div>
		  
		  <div class="controls">
		      <label>Management IP Address </label>
		      <select name="mgmt_ip_addr_type" id="mgmt_ip_addr_type">
			      <option value="1">Loopback</option>
			      <option value="2">Switched Virtual Interface (SVI)</option>
			      <option value="3">Dedicated Mgmt Interface</option>
		      </select>
                  </div>
		      <div class="controls">
			<label></label>
			<input type="text" name="ip_address" placeholder="Enter IP Address, ex: 1.1.1.1/24">
		      </div>
		    <div class="controls mgmt_vlan_id">
		      <label>Management VLAN ID</label>
		      <input type="text" name="mamt_vlan_id" placeholder="Enter IP Address, ex: 1.1.1.1/24">
		    </div>
	    
                </div>
              </div>
            </div>
	    <!-- collapseTwo Div END-->
	    
	    <!-- collapseThree Div Start -->
            <div class="accordion-group">
              <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">Layer 2</a> </div>
              <div id="collapseThree" class="accordion-body collapse">
                <div class="accordion-inner">
		      
	        <div border="0" cellpadding="0" cellspacing="0" id="vlan_form">
		      <!-- Vlan ID and Vlan Name Labels -->
		      
		      <div class="controls vlan-label">
			<div class="span4">
			  <label>VLAN ID</label>
			   </div>
			<div class="span4" >
			  <label>VLAN NAME</label>
			</div>
            
		      </div>
		      
		      <div class="clear"></div>
	              <!-- Vlan ID and Vlan Name Inputs -->
		      {% for form in formset.forms %}
		      <div class="controls vlan mar_none_layer">
			<div class="span4 vlan-id " >
		
			  {{ form.vlan_id }}
			   </div>
			<div class="span4">

			  {{ form.vlan_name }} </div>
              
		      </div>
		      {% endfor %}
		
                <div >{{ formset.management_form }} </div>
              </div>                  
              </div>
            </div>
	      </div>
	    <!-- collapseThree Div End -->
	    
	    <!-- collapseFour Div Start -->
            <div class="accordion-group">
              <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour" id="layer_3_id">Layer 3</a> </div>
              <div id="collapseFour" class="accordion-body collapse">
                <div class="accordion-inner">
                  <div class="controls layer3">
                <table id= "layer3_t_body">
                <thead>
                <tr>
                <th>VLAN ID</th>
                <th>VLAN NAME</th>
                 <th>IP Address</th>
                <th>Interface Description</th>
                </tr>
                </thead>
                <tbody>
         
                </tbody>
                </table>
                    <div class="clear"></div>
                    <input type="button" value="Layer 3" class="configure_layer_3 config-btn1">
                    <input type="button" value="Intf Descr." class="configure_desc config-btn2">
                     <div class="clear"></div>
                    <input type="text" class="configure-text" name="configure-text" placeholder="1.1.1.1/24" style="display: none">
                     <input type="text" class="configure-description" name="configure-text"  maxlength="100" style="display: none">
                  </div>
                </div>
              </div>
            </div>
           
	   <!-- collapseFour Div END -->
	   
	   <!-- collapseFour1 Div Start -->
	    <div class="accordion-group">
              <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour1" id="layer_3_id_test">Layer 3 - TEST</a> </div>
              <div id="collapseFour1" class="accordion-body collapse">
                <div class="accordion-inner">
                  <div class="controls layer3-test">

               <h4>Configure Layer 3 VLAN Interfaces</h4>
               
                <table id="layer3_tbody_test">
                <thead>
                <tr>
                <th>VLAN ID</th>
                <th>VLAN NAME</th>
                <th>IP ADDRESS</th>
                <th class="config">CONFIGURE</th>
                </tr>
                </thead>
                <tbody>
                    
                </tbody>
                </table>
                <br/>
                  <h4>Configure Physical Interfaces</h4>
                <table>
                <thead>
                <tr>
                <th>Interface</th>
                <th>IP Address</th>
                <th class="config">CONFIGURE</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                <td><select id="interface_type">
                <option class="v1" value="0">Choose One</option>
                
                <option class="g1" value="GigabitEthernet0/0">GigabitEthernet0/0</option>
                <option class="g1" value="GigabitEthernet0/1">GigabitEthernet0/1</option>
                <option class="g1" value="GigabitEthernet0/2">GigabitEthernet0/2</option>
                <option class="g1" value="GigabitEthernet0/3">GigabitEthernet0/3</option>
                
                <option class="g2" value="GigabitEthernet0/0">GigabitEthernet0/0</option>
                <option class="g2" value="GigabitEthernet0/1">GigabitEthernet0/1</option>
                <option class="g2" value="GigabitEthernet0/2">GigabitEthernet0/2</option>
                <option class="g2" value="GigabitEthernet0/3">GigabitEthernet0/3</option>
		
                <option class="g2" value="GigabitEthernet0/4">GigabitEthernet0/4</option>
                <option class="g2" value="GigabitEthernet0/5">GigabitEthernet0/5</option>
                <option class="g2" value="GigabitEthernet0/6">GigabitEthernet0/6</option>
                <option class="g2" value="GigabitEthernet0/7">GigabitEthernet0/7</option>
                <option class="g2" value="GigabitEthernet0/8">GigabitEthernet0/8</option>
                <option class="g2" value="GigabitEthernet0/9">GigabitEthernet0/9</option>
                
                <option class="g3" value="Ethernet0/1">Ethernet0/1</option>
                <option class="g3" value="Ethernet0/2">Ethernet0/2</option>
                <option class="g3" value="Ethernet0/3">Ethernet0/3</option>
                <option class="g3" value="Ethernet0/4">Ethernet0/4</option>
                </select></td>
                <td><input type="text" name = "phy_ip_add" /></td>
                <td><input type="button" value="Configure" class="configure_layer_3 config-btn1" href="#myModal" data-toggle="modal" data-target="#myModal"></td>
                </tr>
                </tbody>
                </table>
                <div id="pop_up">
                </div>
                <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		     <div class="modal-header">
		      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		      <h3>Configuration Details for $INTERFACE</h3>
		      </div>
                    <div class="modal-body">
                    <div class="controls">
                    <label>Interface Description</label>
                    <input type="text" class="ifdsc_text" name = "phy_ifdsc_text" />
                    </div>
                    <div class="controls">
                    <label>Placeholder</label>
                    <input type="text" class="ifdsc_ph" name = "phy_ifdsc_ph" />
                    </div>
                    </div>
                    <div class="modal-footer">
                     <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button class="btn btn-primary" data-dismiss="modal">Submit</button>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
	   <!-- collapseFour1 Div END -->
	   
	   <!-- collapseFour2 Div Start -->   
	   <div class="accordion-group">
              <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour2" id="layer_3_id">Layer 3 - TEST2</a> </div>
              <div id="collapseFour2" class="accordion-body collapse">
                <div class="accordion-inner">
                  <div class="controls layer3">
		      <h4>Configure Layer 3 VLAN Interfaces</h4>
		      
	   <div class="layer_test3" class="layer_test3-security">
				 
		      <div class="span3">
		      <div class="controls">
				 <label>Vlan ID</label>
		      </div>
		      </div>
                      <div class="span3">
		      <div class="controls">
				 <label>Vlan Name</label>
		      </div>
		      </div>
		     <div class="span3">
		      <div class="controls">
				 <label>IP Address</label>
		      </div>
		      </div>
		      <div class="span3">
		      <div class="controls">
				 <label>Configuration</label>
		      </div>
		      </div>
		    
		      
                    <div id ="layer3_test2">
                    
                    </div>
                    </div>
		    <div class="clear"></div>
                      
	        </br>
		<h4>Configure Physical Interfaces</h4>
            
            <!-- Configure Physical Interfaces Labels -->
                    <div class="span3 mar_left_none mar_bot_none">
		      <div class="controls">
				 <label>Physical Interface</label>
				 	 
		      </div>
		    </div>
                    
		     <div class="span3 mar_bot_none">
		      <div class="controls">
				 <label>IP Address</label>
		      </div>
		      </div>
		      <div class="span3 mar_bot_none">
		      <div class="controls">
				 <div class="controls">
				  <label>Configure</label>
		      </div>
		      </div>
		      </div>
                      <div class="clear"></div>
                <!-- Configure Physical Interfaces Type 1 -->
                <div class="type-1">
                    <div class="span3 cus_textbox">
		      <div class="">
                        <input type="text" name="phy_interface" value="GigabitEthernet0/0" readonly class="phy_interface"/>
                        <input type="text" name="phy_interface" value="GigabitEthernet0/1" readonly class="phy_interface" />
                        <input type="text" name="phy_interface" value="GigabitEthernet0/2" readonly class="phy_interface" />
                        <input type="text" name="phy_interface" value="GigabitEthernet0/3" readonly class="phy_interface" />
		      </div>
		    </div>
                    
		     <div class="span3 cus_textbox">
		      <div class="controls">
                        <input type="text" class="phy_interface" />
                        <input type="text" class="phy_interface" />
                        <input type="text" class="phy_interface" />
                        <input type="text" class="phy_interface" />
		      </div>
		      </div>
		      <div class="span3 cus_buttons">
		      <div class="controls">
			<div class="">
			<input type="button" value="Configure" class="configure_layer_3 config-btn1" href="#pop_model_config_1" data-toggle="modal" data-target="#pop_model_config_1" id="model_config_1">
                        <input type="button" value="Configure" class="configure_layer_3 config-btn1" href="#pop_model_config_2" data-toggle="modal" data-target="#pop_model_config_2" id="model_config_2">
                        <input type="button" value="Configure" class="configure_layer_3 config-btn1" href="#pop_model_config_3" data-toggle="modal" data-target="#pop_model_config_3" id="model_config_3">
                        <input type="button" value="Configure" class="configure_layer_3 config-btn1" href="#pop_model_config_4" data-toggle="modal" data-target="#pop_model_config_4" id="model_config_4">
		      </div>
		      </div>
		      </div>
                </div>
                
                <div class="type-2">
                    <div class="span3 cus_textbox">
		      <div class="controls">
			<input type="text" name="phy_interface" value="GigabitEthernet0/0" readonly class="phy_interface" />
                        <input type="text" name="phy_interface" value="GigabitEthernet0/1" readonly class="phy_interface" />
                        <input type="text" name="phy_interface" value="GigabitEthernet0/2" readonly class="phy_interface" />
                        <input type="text" name="phy_interface" value="GigabitEthernet0/3" readonly class="phy_interface" />
                        <input type="text" name="phy_interface" value="GigabitEthernet0/4" readonly class="phy_interface" />
                        <input type="text" name="phy_interface" value="GigabitEthernet0/5" readonly class="phy_interface" />
                        <input type="text" name="phy_interface" value="GigabitEthernet0/6" readonly class="phy_interface" />
                        <input type="text" name="phy_interface" value="GigabitEthernet0/7"  readonly="readonly" class="phy_interface"/>
		      </div>
		    </div>
                    
		     <div class="span3 cus_textbox">
		      <div class="controls">
			<input type="text" class="phy_interface" />
                        <input type="text" class="phy_interface" />
                        <input type="text" class="phy_interface" />
                        <input type="text" class="phy_interface" />
                        <input type="text" class="phy_interface" />
                        <input type="text" class="phy_interface" />
                        <input type="text" class="phy_interface" />
                        <input type="text" class="phy_interface" />
                                 
		      </div>
		      </div>
		      <div class="span3 cus_buttons">
		      <div class="controls">
			<div class="">
                        <input type="button" value="Configure" class="configure_layer_3 config-btn1" href="#pop_model_config_5" data-toggle="modal" data-target="#pop_model_config_5" id="model_config_5">
                        <input type="button" value="Configure" class="configure_layer_3 config-btn1" href="#pop_model_config_6" data-toggle="modal" data-target="#pop_model_config_6" id="model_config_6">
                        <input type="button" value="Configure" class="configure_layer_3 config-btn1" href="#pop_model_config_7" data-toggle="modal" data-target="#pop_model_config_7" id="model_config_7">
                        <input type="button" value="Configure" class="configure_layer_3 config-btn1" href="#pop_model_config_8" data-toggle="modal" data-target="#pop_model_config_8" id="model_config_8">
                        <input type="button" value="Configure" class="configure_layer_3 config-btn1" href="#pop_model_config_9" data-toggle="modal" data-target="#pop_model_config_9" id="model_config_9">
                        <input type="button" value="Configure" class="configure_layer_3 config-btn1" href="#pop_model_config_10" data-toggle="modal" data-target="#pop_model_config_10" id="model_config_10">
                        <input type="button" value="Configure" class="configure_layer_3 config-btn1" href="#pop_model_config_11" data-toggle="modal" data-target="#pop_model_config_11" id="model_config_11">
                        <input type="button" value="Configure" class="configure_layer_3 config-btn1" href="#pop_model_config_12" data-toggle="modal" data-target="#pop_model_config_12" id="model_config_12">
		      </div>
		      </div>
                </div>
                
                </div>
                <div class="type-3">
                    <div class="span3 cus_textbox">
		      <div class="controls">
                        <input type="text" name="phy_interface" value="GigabitEthernet0/0" readonly  class="phy_interface"/>
                        <input type="text" name="phy_interface" value="GigabitEthernet0/1" readonly class="phy_interface" />
                        <input type="text" name="phy_interface" value="GigabitEthernet0/2" readonly  class="phy_interface"/>
                        <input type="text" name="phy_interface" value="GigabitEthernet0/3" readonly class="phy_interface" />
		      </div>
		    </div>
                    
		     <div class="span3 cus_textbox">
		      <div class="controls">
				 <input type="text" name="ip_address" />
                                 <input type="text" name="ip_address" />
                                 <input type="text" name="ip_address" />
                                 <input type="text" name="ip_address" />
                                 
		      </div>
		      </div>
		      <div class="span3 cus_buttons">
		      <div class="controls">
			<div class="">
			<input type="button" value="Configure" class="configure_layer_3 config-btn1" href="#pop_model_config_13" data-toggle="modal" data-target="#pop_model_config_13" id="model_config_13">
                        <input type="button" value="Configure" class="configure_layer_3 config-btn1" href="#pop_model_config_14" data-toggle="modal" data-target="#pop_model_config_14" id="model_config_14">
                        <input type="button" value="Configure" class="configure_layer_3 config-btn1" href="#pop_model_config_15" data-toggle="modal" data-target="#pop_model_config_15" id="model_config_15">
                        <input type="button" value="Configure" class="configure_layer_3 config-btn1" href="#pop_model_config_16" data-toggle="modal" data-target="#pop_model_config_16" id="model_config_16">
		      </div>
		      </div>
		      </div>
                </div>      
            
		</div>
	           <!-- Popup Model for Layer 3 Test table Configure Button -->
                   
                   <div id="test2_pop_up">
                    
                   </div>
                   
                   <div id="temp_pop_op_div">
                    
                   </div>
                  </div>
                </div>
              </div>
	  <!-- collapseFour2 Test Div END -->
	  
	  <!-- collapseFive Div Start -->
          
          
            <div class="accordion-group">
              <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">QoS</a> </div>
              <div id="collapseFive" class="accordion-body collapse">
                <div class="accordion-inner">
                <div class="qos">
                  <div class="radio">
                    <label class="title">Layer 2 QOS</label>
                    <input type="radio" name="layer2_qos" checked="checked" value="Yes">
                    <label>Yes</label>
                    <input type="radio" name="layer2_qos" value="No">
                    <label>No</label>
                  </div>
                  <div class="clear"></div>
                  <div class="radio layer2_qos">
                    <label class="title">QOS Template</label>
                    <input type="radio" name="layer2_qos_types" value="Yes" id="qos_srnd1">
                    <label>SRND</label>
                    <input type="radio" name="layer2_qos_types" value="No" id="qos_custom1">
                    <label>Custom</label>
                  </div>
                  <div class="controls">
                    <textarea class="controls" name="qos_custom1_text"  style="display: none" id="qos_custom1_text" ></textarea>
                  </div>
                  <div class="radio">
                    <label class="title" >Layer 3 QOS</label>
                    <input type="radio" name="layer3_qos" checked="checked" value="Yes">
                    <label>Yes</label>
                    <input type="radio" name="layer3_qos" value="No">
                    <label>No</label>
                  </div>
                  <div class="clear"></div>
                  <div class="radio layer3_qos">
                    <label class="title">QOS Template</label>
                    <input type="radio" name="layer3_qos_types" value="Yes" id="qos_srnd2">
                    <label>SRND</label>
                    <input type="radio" name="layer3_qos_types" value="No" id="qos_custom2">
                    <label>Custom</label>
                  </div>
                  <div class="controls">
                    <textarea class="controls" name="qos_custom2_text"  style="display: none" id="qos_custom2_text" ></textarea>
                  </div>
                </div>
                </div>
              </div>
            </div>
	    <!-- collapseFive Div END -->
	    
	    <!-- collapseSix Div Start --> 
            <div class="accordion-group">
              <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">Security</a> </div>
              <div id="collapseSix" class="accordion-body collapse">
                <div class="accordion-inner">
                <div class="security">
		      
		      <h4>Apply ACL</h4>
		      
		      <div class="apply_acl" class="security">
				 
				 <div class="span2">
				 <div class="controls">
					    <label>Source IP/Mask</label>
					   
				 </div>
				 </div>
                                <div class="span2">
				 <div class="controls">
					    <label>Source Proto/Port</label>
				 </div>
				 </div>
				 <div class="span2">
				 <div class="controls">
					    <label>Destination IP/mask</label>
				 </div>
				 </div>
				 <div class="span2">
				 <div class="controls">
					    <label>Destination Proto/Port</label>
				 </div>
				 </div>
				 <div class="span2 id">
				       <div class="controls">
					    <label> ID</label>
				       </div>
				 </div>
				 <div class="span2">
				 <div class="controls">
					    <label> Action </label>
				 </div>
				 </div>
				 <div class="span2">
					    <div class="controls">
					    <label>Apply To</label>
					    </div>
				 </div>
				 
				 </div>
				  
	   
		      <div class="apply_acl" id="apply_acl_form" class="security">
				 
				 {% for acl_form in apply_acl_formset.forms %}
				 <div class="span2">
				 <div class="controls">
					   {{ acl_form.source_ip }}
				 </div>
				 </div>
                                <div class="span2">
				 <div class="controls">
					   {{ acl_form.source_port }}
				 </div>
				 </div>
				 <div class="span2">
				 <div class="controls">
					    {{ acl_form.destination_ip }}
				 </div>
				 </div>
				 <div class="span2">
				 <div class="controls">
					    {{ acl_form.destination_port }}
				 </div>
				 </div>
				 <div class="span2 id">
				       <div class="controls">
					    {{ acl_form.source_id }}
				       </div>
				 </div>
				 <div class="span2">
				 <div class="controls">
					    {{ acl_form.action }}
				 </div>
				 </div>
				 <div class="span2">
				      <div class="controls">
				 	 {{ acl_form.apply_to }}
				      </div>
				 </div>
				 
				  {% endfor %}
				   </div>
				  
				  <div>{{ apply_acl_formset.management_form }} </div>
				  </div>
				  </div>
	    
	      </div>
            </div>
          </div>
          <input type="submit" value="Generate Config" id="submit_complet"/>
        </form>
            </div>
            
            </div>
  </div>

</div>
{% endblock inner_content %} 
